body{
	background-color:#C70039;
}
*{
 box-sizing:border-box; 
}
#header-nav{
  background-color:#B3B3B4;
  border-radius:0;
  border:0;
  font-family:tahoma;
 }
.navbar-brand h1{
  font-size: 30px;
  font-weight:bold;
  margin-top:-10px;
  margin-bottom:0;
  color:#000;
  text-shadow:1px 1px 1px;
}
.navbar-brand a:hover, .navbar-brand a:focus{
text-decoration:none;
}
#nav-list{
  text-align:center;
  color:#000;
  line-height:2;
  font-size:1.3em;
}
#nav-list a:hover{
  background:#ffffff;
}
h2, h3{
font-weight:bold;
color:#000;
}
.section{
  background-color:#B3B3B4;
  font-size:16px;
  padding:10px;
  padding-top:1px;
  margin-right:20px;
  margin-bottom:20px;
}
.row{
  width:100%;
  margin:0px;
}


	
